# App
APP_PORT=8088
APP_DEBUG=true

# Database
DB_HOST=localhost
DB_PORT=5432
DB_NAME=bank_risk_db
DB_USER=postgres
DB_PASSWORD=change_me

# RustFS
RUSTFS_ENABLED=false
RUSTFS_ENDPOINT=http://127.0.0.1:9000
RUSTFS_BUCKET=bank-resource
RUSTFS_ACCESS_KEY=your_access_key
RUSTFS_SECRET_KEY=your_secret_key
RUSTFS_REGION=us-east-1
RUSTFS_PREFIX=yangtze-bank-warning-system
RUSTFS_SECURE=false
RUSTFS_SKIP_TLS_VERIFY=false
RUSTFS_ADDRESSING_STYLE=path

# Kafka 配置示例
KAFKA_ENABLED=true
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_TASK_TOPIC=bank.model.task.v1
KAFKA_RESULT_TOPIC=bank.model.result.v1
KAFKA_WORKER_GROUP=bank-model-workers
KAFKA_WORKER_ID=python-worker-01